<!DOCTYPE html>
<html>
<head>
	<title>Опаньки</title>
	<link rel="stylesheet" href="public/stylesheets/styles_.css">
</head>
<body>
	<header class="header">
			<img class="header__logo" src="public/images/logo.png" alt="">
	</header>
	<div class="main">
		<section class="main__content">
			<h1 class="main__text"><%=status%></h1>
			<h3><%=message%></h3>
		</section>
	</div>
	<footer>
		<div class="footer">
			<div class="footer__left">
				<p>Все права защищены &copy; 2016 =)</p>
			</div>
			<div class="footer__social">
				<a href="/" class="footer__link facebook">Facebook</a>
				<a href="/" class="footer__link twitter">Twitter</a>
			</div>
		</div>
	</footer>
</body>
</html>