<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" href="public/stylesheets/styles_.css">
	<script type="text/javascript" src="./public/javascripts/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="./public/javascripts/validate.js" async></script>
</head>
<body>
	<header class="header">
			<img class="header__logo" src="public/images/logo.png" alt="">
	</header>
	<div class="main">
		<section class="main__content">
			<h1 class="main__text"><%=title%></h1>
			<form enctype="application/x-www-form-urlencoded" action="/register" method="post" id="form_register" class="form__register">
				<input class="input" type="text" id="name" name="name" placeholder="Имя">
				<input class="input" type="text" id="lastName" name="lastName" placeholder="Фамилия">
				<input class="input" type="text" id="login" name="login" placeholder="Логин">
				<input class="input" type="password" id="password" name="password" placeholder="Пароль (прим: Qwert123)">
				<input class="input" type="password" id="password_conf" name="password_conf" placeholder="Подтвердите пароль">
				<input class="input" type="text" id="birthDate" name="birthDate" placeholder="Дата рождения: Год-Мес-День">
				<%- partial("countries")%>
				<input class="input" type="text" id="email" name="email" placeholder="email">
				<input class="submit" type="submit" onclick="validator(this)">
			</form>
		</section>
	</div>
	<footer>
		<div class="footer">
			<div class="footer__left">
				<p>Все права защищены &copy; 2016 =)</p>
			</div>
			<div class="footer__social">
				<a href="/" class="footer__link facebook">Facebook</a>
				<a href="/" class="footer__link twitter">Twitter</a>
			</div>
		</div>
	</footer>
</body>
</html>